<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mmt.uit.placehelper"
      android:versionCode="102" android:versionName="@string/version">
    <uses-sdk android:minSdkVersion="7" android:maxSdkVersion="10"/>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission><uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="@string/app_name" android:icon="@drawable/placeicon" android:debuggable="false">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library android:name="com.google.android.maps"></uses-library>
        <activity android:name=".activities.WebInfoActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.DetailPlaceActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.ViewOnMapActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.ChangeLocationActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.CategoriesActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.SearchResultActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.ListFavoriteActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.CategoriesListActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.SettingsActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".activities.ShareOnFacebook" android:theme="@android:style/Theme.Dialog"></activity>
    </application>
</manifest>